@mixin flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin Shadow {
    box-shadow: 0px 2px 5px 2px rgba(148, 148, 148, 0.16);
}
@mixin flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


.navBarSupervisor{
    width: 100%;
    min-height: 7vh;
    background: #ff9000;
    z-index: 100;
    @include flexColumn();
    position: absolute;
    top: 0;
    .wrapNavBar{
        width: 100%;
        height: 100%;
        @include flexRow();
        justify-content: space-between;
        padding-left:2%;
        .Link{
            width: 200px;
            height: 100%;
            @include flexRow();
            justify-content: flex-start;
            gap: 5%;
            img{
                width: 24px;
                height: 24px;
                object-fit: contain;
                cursor: pointer;
            }

            a{
                color: white;
                text-decoration: none;
                cursor: pointer;
                width: fit-content;
                // display: none;
                } 
        }
    .LeftDiv{
        width:40%;
        height: 100%;
        @include flexRow();
        justify-content: space-between;
          
        
        
    }
    .RightDiv{
        width: 10%;
        height: 100%;
        @include flexRow();
        justify-content: space-around;
    
        
    }
}

.Menu{
    width: 200px;
    height: 150px;
    position: absolute;
    background: #ff9000;;
    @include flexColumn();
    top: 8%;
    border-radius: 20px;
    .Option{
        width: 90%;
        height: 30px;
        @include flexColumn();
        color: white;
        border-bottom: 1px solid #e6e6e6b2;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            background: white;
            color: #ff9000;;
            
        }
    }
    display: none;
}
.AnimateMenu{
    animation: 0.2s animate ease-in-out forwards;
    display: inherit;
    @keyframes animate {
        0%{
            right: 0%;
            opacity: 0;
        }
        100%{
            right: 2%;
            opacity: 1;
        }
        
    }
}
}
