@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#root {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .FacultyDashboard {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  background: #F5F5F5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

#root .FacultyDashboard .BlueBanner {
  position: absolute;
  top: 0;
  left: 0;
  background: #2F89FC;
  width: 100%;
  height: 19vh;
  z-index: 1;
}

#root .FacultyDashboard .LeftContainer {
  z-index: 10;
  width: 30%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#root .FacultyDashboard .LeftContainer .UserDetail {
  width: 100%;
  height: 30%;
  border-radius: 10px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(148, 148, 148, 0.16);
          box-shadow: 0px 2px 5px 2px rgba(148, 148, 148, 0.16);
  -webkit-transition: -webkit-transform 0.6s easeOutBack;
  transition: -webkit-transform 0.6s easeOutBack;
  transition: transform 0.6s easeOutBack;
  transition: transform 0.6s easeOutBack, -webkit-transform 0.6s easeOutBack;
  -webkit-animation: animateUser 0.6s forwards;
          animation: animateUser 0.6s forwards;
}

#root .FacultyDashboard .LeftContainer .UserDetail .ProfileDp {
  width: 120px;
  height: 120px;
  background: #f5f5f5;
  border-radius: 50%;
}

#root .FacultyDashboard .LeftContainer .UserDetail .Details {
  width: 50%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

#root .FacultyDashboard .LeftContainer .UserDetail .Details h2 {
  font-size: 18px;
}

#root .FacultyDashboard .LeftContainer .UserDetail .Details .Label {
  width: 70px;
  height: 20px;
  background: #eeeeee;
  color: #2F89FC;
  border-radius: 6px;
}

#root .FacultyDashboard .LeftContainer .UserDetail .Details p {
  font-size: 12px;
  color: #8B8B8B;
}

#root .FacultyDashboard .LeftContainer .UserDetail #SettingsIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#root .FacultyDashboard .LeftContainer .UserDetail #SettingsIcon:hover {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

#root .FacultyDashboard .LeftContainer .UserDetail .Menu {
  width: 200px;
  height: 150px;
  position: absolute;
  background: #2F89FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 30px;
  border-radius: 20px;
  display: none;
}

#root .FacultyDashboard .LeftContainer .UserDetail .Menu .Option {
  width: 90%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  border-bottom: 1px solid #e6e6e6b2;
  cursor: pointer;
}

#root .FacultyDashboard .LeftContainer .UserDetail .Menu .Option:hover {
  background: white;
  color: #2F89FC;
}

#root .FacultyDashboard .LeftContainer .UserDetail .AnimateMenu {
  -webkit-animation: 0.2s animate ease-in-out forwards;
          animation: 0.2s animate ease-in-out forwards;
  display: inherit;
}

@-webkit-keyframes animate {
  0% {
    right: 0%;
    opacity: 0;
  }
  100% {
    right: 2%;
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    right: 0%;
    opacity: 0;
  }
  100% {
    right: 2%;
    opacity: 1;
  }
}

@-webkit-keyframes animateUser {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateUser {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#root .FacultyDashboard .LeftContainer .NotificationContainer {
  width: 100%;
  height: 65%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(148, 148, 148, 0.16);
          box-shadow: 0px 2px 5px 2px rgba(148, 148, 148, 0.16);
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.6s easeOutBack;
  transition: -webkit-transform 0.6s easeOutBack;
  transition: transform 0.6s easeOutBack;
  transition: transform 0.6s easeOutBack, -webkit-transform 0.6s easeOutBack;
  -webkit-animation: animateNotification 0.6s forwards;
          animation: animateNotification 0.6s forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#root .FacultyDashboard .LeftContainer .NotificationContainer .Title {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 10%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#root .FacultyDashboard .LeftContainer .NotificationContainer .Title h1 {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #808080;
}

#root .FacultyDashboard .LeftContainer .NotificationContainer .Title #NotificationCount {
  width: 20px;
  height: 20px;
  background: #37DA0E;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .FacultyDashboard .LeftContainer .NotificationContainer .NotificationSection {
  width: 100%;
  min-height: 70%;
  max-height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: scroll;
}

#root .FacultyDashboard .LeftContainer .NotificationContainer .NotificationSection .Notification {
  width: 90%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FacultyDashboard .LeftContainer .NotificationContainer .NotificationSection .Notification .Text {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FacultyDashboard .LeftContainer .NotificationContainer .NotificationSection .Notification .Text .bullet {
  width: 5px;
  height: 5px;
  background: #2F89FC;
  border-radius: 50%;
}

#root .FacultyDashboard .LeftContainer .NotificationContainer .NotificationSection .Notification .Text a {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  color: #777777;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  text-decoration: none;
}

#root .FacultyDashboard .LeftContainer .NotificationContainer .NotificationSection .Notification .Line {
  width: 100%;
  border-top: 1px solid rgba(165, 165, 165, 0.57);
}

@-webkit-keyframes animateNotification {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateNotification {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#root .FacultyDashboard .RightContainer {
  z-index: 10;
  width: 60%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#root .FacultyDashboard .RightContainer .TopBanner {
  width: 100%;
  height: 40%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(148, 148, 148, 0.16);
          box-shadow: 0px 2px 5px 2px rgba(148, 148, 148, 0.16);
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.6s easeOutBack;
  transition: -webkit-transform 0.6s easeOutBack;
  transition: transform 0.6s easeOutBack;
  transition: transform 0.6s easeOutBack, -webkit-transform 0.6s easeOutBack;
  -webkit-animation: animateTop 0.6s forwards;
          animation: animateTop 0.6s forwards;
}

#root .FacultyDashboard .RightContainer .TopBanner h1 {
  margin-top: 2%;
  width: 18%;
  height: 30px;
  font-size: 24px;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#root .FacultyDashboard .RightContainer .TopBanner .Details {
  width: 80%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FacultyDashboard .RightContainer .TopBanner .Details .Detail {
  width: 30%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FacultyDashboard .RightContainer .TopBanner .Details .Detail .Value {
  color: #2F89FC;
  font-size: 40px;
  height: 50px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root .FacultyDashboard .RightContainer .TopBanner .Details .Detail .Label {
  color: #3D3D3D;
  font-size: 14px;
}

#root .FacultyDashboard .RightContainer .TopBanner .Details .Detail .MidDetail {
  width: 100px;
  height: 50px;
  font-size: 40px;
  color: white;
  background: #2F89FC;
  border-radius: 10px;
}

@-webkit-keyframes animateTop {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#root .FacultyDashboard .RightContainer .MainBanner {
  width: 100%;
  height: 55%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(148, 148, 148, 0.16);
          box-shadow: 0px 2px 5px 2px rgba(148, 148, 148, 0.16);
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: -webkit-transform 0.6s easeOutBack;
  transition: -webkit-transform 0.6s easeOutBack;
  transition: transform 0.6s easeOutBack;
  transition: transform 0.6s easeOutBack, -webkit-transform 0.6s easeOutBack;
  -webkit-animation: animateMain 0.6s forwards;
          animation: animateMain 0.6s forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0;
}

@-webkit-keyframes animateMain {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateMain {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#root .FacultyDashboard .RightContainer .MainBanner .Details {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#root .FacultyDashboard .RightContainer .MainBanner .Details h1 {
  margin-left: 10%;
  width: 18%;
  height: 30px;
  font-size: 24px;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#root .FacultyDashboard .RightContainer .MainBanner .Details .ButtonSection {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FacultyDashboard .RightContainer .MainBanner .Details .ButtonSection .ButtonElement {
  width: 60%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FacultyDashboard .RightContainer .MainBanner .Details .ButtonSection .ButtonElement img {
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

#root .FacultyDashboard .RightContainer .MainBanner .Details .ButtonSection .ButtonElement a {
  width: 200px;
  height: 60px;
  background: #2F89FC;
  border: 1px solid white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  border-radius: 30px;
  z-index: 5;
  outline: none;
}

#root .FacultyDashboard .RightContainer .MainBanner .Details .ButtonSection .ButtonElement a:hover {
  background: white;
  border: 1px solid #2F89FC;
  color: #2F89FC;
}

#root .FacultyDashboard .RightContainer .MainBanner .QuickLinks {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: -webkit-transform 0.6s easeOutBack;
  transition: -webkit-transform 0.6s easeOutBack;
  transition: transform 0.6s easeOutBack;
  transition: transform 0.6s easeOutBack, -webkit-transform 0.6s easeOutBack;
  -webkit-animation: animateLinks 0.6s forwards;
          animation: animateLinks 0.6s forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  opacity: 0;
}

#root .FacultyDashboard .RightContainer .MainBanner .QuickLinks h1 {
  width: 32%;
  font-size: 24px;
  color: #808080;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#root .FacultyDashboard .RightContainer .MainBanner .QuickLinks .Sections {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#root .FacultyDashboard .RightContainer .MainBanner .QuickLinks .Sections .Section {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FacultyDashboard .RightContainer .MainBanner .QuickLinks .Sections .Section h2 {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 2%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#root .FacultyDashboard .RightContainer .MainBanner .QuickLinks .Sections .Section .Links {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#root .FacultyDashboard .RightContainer .MainBanner .QuickLinks .Sections .Section .Links .Link {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2%;
}

#root .FacultyDashboard .RightContainer .MainBanner .QuickLinks .Sections .Section .Links .Link img {
  width: 15px;
  height: 15px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#root .FacultyDashboard .RightContainer .MainBanner .QuickLinks .Sections .Section .Links .Link a {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: left;
  color: #808080;
  text-decoration: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@-webkit-keyframes animateLinks {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateLinks {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=FDashboard.css.map */